.popup__job {
  font-family:'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  width: 358px;
  padding: 0;
  padding-bottom: 13px;
  margin-bottom: 48px;
  margin-left: 36px;
}

@media screen and (max-width: 630px) {
  .popup__job {
    width: 200px;
    margin-left: 15px;
    margin-bottom: 24px;

 }
