.header {
  max-width: 882px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 915px) {
  .header{
    max-width: 596px;

 }


@media screen and (max-width: 665px) {
  .header{
    width: 100%;
    max-width: 480px;
 }









